
*{
    box-sizing: border-box;
}

.add-form {

display: block;
background-color: white;
box-shadow: 1px 1px 3px 2px #ddd;
margin: 50px auto;
max-width: 800px;
max-height: 700px;
padding: 40px 60px;

}

form input, textarea {

    display:flex;
    flex-direction: column;
    width: 100%;
    margin: 15px auto;
    padding: 10px;
    background-color: #f3f3f3;
    border: 1px solid #ddd;
    border-radius: 4px;
    
}


.add-form-btn {

    height: 30px;
    width: 50%;
    align-items: center;
    border: none;
    background-color: rgb(12, 12, 12);
    color: #fff;
    cursor: pointer;
    border-radius: 5px;

}

