.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 450px; 
    margin-bottom: 10px; 
  }
  
  .section-hero-data {
    text-align: center;
    font-size: 30px;
    margin-bottom: 1px; 
  }
  
  .section-hero-animation {
    margin-top: 1px; 
    margin-bottom: 220px; 
  }
  






/* original css below */

/* 
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.section-hero-data {
    text-align: center;
    font-size: 30px;
}

.hero-button {
    margin-top: 20px;
    background-color: #FFC1CF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hero-button:hover {
    background-color: #8A95A5;
    color: black;
  } */

