.navbar {
    display: flex;
    width: 100%;
    height: 100px;
    background: rgb(233, 186, 194);
}
.navbar-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.logo-image {
  width: 50px;
  height: 30px;
  object-fit: contain;
  margin-right: 10px;
}

.logo-text {
  display: inline-block;
  @media (max-width: 640px) {
    display: none;
  }
}

.links {

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    color: white;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 20px;
    font-size: 25px;
}

.toggleButton {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .toggleButton svg {
    font-size: 50px;
  }
  .toggleButton button {
    margin-right: 20px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  #open {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  #open .links {
    flex-direction: column;
    justify-content: center;
    margin-top: -50;
  }
  
  #open a {
    width: 100%;
    text-align: center;
  }
  
  @media only screen and (max-width: 900px) {
    .navbar a {
      width: 70px;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .toggleButton {
      display: flex;
    }
    #close a {
      display: none;
    }
  }
  
  @media only screen and (min-width: 600px) {
    .toggleButton {
      display: none;
    }
  
    .hiddenLinks {
      display: none;
    }
  
    #open {
      height: 100px;
    }
  
    #open .links {
      flex-direction: row;
    }
  }