.image {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  width: 80%;
  border: 1px solid black;
  border-radius: 8px;
}

.image:hover {
  box-shadow: 0 0 11px gray;
}

.edit-button {
  margin-top: 22px;
  color: white;
  background-color: black;
  width: 70%;
  border-radius: 30px;
  border: none;
  padding: 5px 0px 5px;
}

.edit-button:hover {
    background-color: #5D737E;
    cursor: pointer;
}