.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: grey;

}

.about p {
  font-size: 40px;
  margin-bottom: 80px; 
   margin-top: 10px;
   text-align: center;


}

.intro {
  font-size: 60px;
}

.overview {
  font-size: 80px;
}



.icon-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 800px;
  margin-top: 60px;
  margin-bottom: 20px;
}

.icon {
  width: 220px;
  height: 220px;
  margin: 0 50px;
}

.bottom-icons {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.spinning-icon {
  font-size: 48px;
  margin: 10px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


